
// 1. equality
.abc{
    padding: 100px != 100px;
}

//2.relational

.abc {
    font-size: 1000ms >= 1s;
}

// boolean

.abc {
    margin: not 10px != 10px;
}

$var : 13;
$var2 : 2;

.text{
   padding: $var % $var + px;
}

.text h1{
    font-size: $var * 2;
}


